body {
  font-family: 'Nunito', serif;
  margin: auto;
  padding: 30px;
  color: #333333;
  background-color: #ffffff;

}


h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  /* text-transform: uppercase; */
  font-weight: 500;
  font-family: 'Nunito', serif;
  font-size: 1.35rem;
}

.list-social-icons a {
  color: #495057;
}

.list-social-icons a:hover {
  color: #333333;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: #242424;
}


.bg-primary {
  background-color: #ffffff !important;
}

.text-primary {
  color: #333333 !important;
}

a {
  color: #003152;
}

a:hover, a:focus, a:active {
  color: #003152;
}


body{
  background-color: #ffffff;
  color: #333333;
}

.text-primary {
  color: #333333 !important;
}
}

.bold-text{
font-weight: bolder;
  color: #333333;
}
p{
  font-size: 1.1em;
}
