body{
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-repeat:  no-repeat;
	position: relative;
	background-position: center center;
	background-attachment: fixed;
}
.main{
	width: 80%;
	margin: auto;
	text-align: center;
}
.heading{
	color: white;
	font-size: 3.5em;
	margin-bottom: 8%;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
.name{
	font-size: 1.5em;
	font-family: 'Roboto', sans-serif;
}

.card{
	width: 40%;
	margin: auto;
	margin-bottom: 10%;
	margin-top: 20%;
}
.intro-box{
	margin: 1% auto;
	background-color: #ffffff;
	border-radius: 3%;
}
.intro{
	padding: 2%;
	
}

.contact-links{
	border-radius: 0 0 2% 2%;
	background: #141E30; 
	background: -webkit-linear-gradient(to left, #141E30 , #243B55); 
	background: linear-gradient(to left, #141E30 , #243B55);
}
.links{
	display: inline-block;
	padding: 1%;
	margin: 3%;
}
div.links:hover{
	opacity: 0.3;
}
i{
	color: #ffffff;
}

@media only screen and (max-width: 767px) {
	body {
		background-image: url("../images/background.jpg");
	}
}